@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

.hiraganaKeyboard
{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat (5, 1fr);
    animation: fadeIn 0.2s ease-in-out;
}

.katakanaKeyboard
{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat (5, 1fr);
    animation: fadeIn 0.2s ease-in-out;
}

.kanaButton
{
    height: 7vh;
    width: 4vw;
    margin: 3px;
    background: none;
    border-style: solid;
    border-color: #4472C4;
    color: white;
    border-radius: 20px;
    font-size: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.kanaButton:hover
{
    background-color: #658bcc75;
}

.pressed
{
    background-color: #658bcc;
}

.dakuten
{
    grid-row: 1;
    grid-column: 1;
    background: none;
    margin: 4px;
    
}

.handakuten
{
    grid-row: 2;
    grid-column: 1;
    background: none;
    
}

.smallYa
{
    grid-row: 1;
    grid-column: 2;
    
}

.smallYu
{
    grid-row: 2;
    grid-column: 2;
    
}

.smallYo
{
    grid-row: 3;
    grid-column: 2;
}

.Wa
{
    grid-row: 1;
    grid-column: 4;
}

.Ra
{
    grid-row: 1;
    grid-column: 5;
}

.Ya
{
    grid-row: 1;
    grid-column: 6;
    
    
}

.Ma
{
    grid-row: 1;
    grid-column: 7;
    
    
}

.Ha
{
    grid-row: 1;
    grid-column: 8;
    
    
}

.Na
{
    grid-row: 1;
    grid-column: 9;
    
    
}

.Ta
{
    grid-row: 1;
    grid-column: 10;

    
    
}

.Sa
{
    grid-row: 1;
    grid-column: 11;

    
    
}

.Ka
{
    grid-row: 1;
    grid-column: 12;

    
    
}

.A
{
    grid-row: 1;
    grid-column: 13;

    
    
}

.Ri
{
    grid-row: 2;
    grid-column: 5;

    
    
    
}

.Mi
{
    grid-row: 2;
    grid-column: 7;
  
    
    
    
}

.Hi
{
    grid-row: 2;
    grid-column: 8;

    
    
    
}

.Ni
{
    grid-row: 2;
    grid-column: 9;
    
    
    
    
}

.Chi
{
    grid-row: 2;
    grid-column: 10;
    
    
    
    
}

.Shi
{
    grid-row: 2;
    grid-column: 11;
    
    
    
    
}

.Ki
{
    grid-row: 2;
    grid-column: 12;
    
    
    
    
}

.I
{
    grid-row: 2;
    grid-column: 13;
    
    
    
    
}

.Ru
{
    grid-row: 3;
    grid-column: 5;
    
    
    
    
}

.Yu
{
    grid-row: 3;
    grid-column: 6;
    
    
    
    
}

.Mu
{
    grid-row: 3;
    grid-column: 7;
    
    
    
    
}

.Fu
{
    grid-row: 3;
    grid-column: 8;
    
    
    
    
}

.Nu
{
    grid-row: 3;
    grid-column: 9;
    
    
    
    
}

.Tsu
{
    grid-row: 3;
    grid-column: 10;
    
    
    
    
}

.Su
{
    grid-row: 3;
    grid-column: 11;
    
    
    
    
}

.Ku
{
    grid-row: 3;
    grid-column: 12;
    
    
    
    
}

.U
{
    grid-row: 3;
    grid-column: 13;
    
    
    
    
}

.Re
{
    grid-row: 4;
    grid-column: 5;
    
    
    
    
}

.Me
{
    grid-row: 4;
    grid-column: 7;
    
    
    
    
}

.He
{
    grid-row: 4;
    grid-column: 8;
    
    
    
    
}

.Ne
{
    grid-row: 4;
    grid-column: 9;
    
    
    
    
}

.Te
{
    grid-row: 4;
    grid-column: 10;
    
    
    
    
}

.Se
{
    grid-row: 4;
    grid-column: 11;
    
    
    
    
}

.Ke
{
    grid-row: 4;
    grid-column: 12;
    
    
    
    
}

.E
{
    grid-row: 4;
    grid-column: 13;
    
    
    
    
}

.Wo
{
    grid-row: 5;
    grid-column: 4;
    
    
    
    
}

.Ro
{
    grid-row: 5;
    grid-column: 5;
    
    
    
    
}

.Yo
{
    grid-row: 5;
    grid-column: 6;
    
    
    
    
}

.Mo
{
    grid-row: 5;
    grid-column: 7;
    
    
    
    
}

.Ho
{
    grid-row: 5;
    grid-column: 8;
    
    
    
    
}

.No
{
    grid-row: 5;
    grid-column: 9;
    
    
    
    
}

.To
{
    grid-row: 5;
    grid-column: 10;
    
    
    
    
}

.So
{
    grid-row: 5;
    grid-column: 11;
    
    
    
    
}

.Ko
{
    grid-row: 5;
    grid-column: 12;
    
    
    
    
}

.O
{
    grid-row: 5;
    grid-column: 13;
    
    
    
    
}

.N
{
    grid-row: 3;
    grid-column: 1;
}